requests>=2.25.1
feedparser>=6.0.8
python-dotenv>=0.15.0
tabulate>=0.8.9
openpyxl>=3.0.9
beautifulsoup4>=4.9.3
google-api-python-client>=2.70.0
google-auth>=2.16.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
tqdm>=4.64.0
